
.fiche {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
     

    &-info {
        display: inline-block;
        text-align: justify;
        line-height: 2em;
        margin: 10px;
        height: auto;        
        width: 20em;
        border-radius: solid black.3em;
    };

}
