@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
#app {
  font-size: 1.2em;
  text-align: center;
  margin: 1em;
}

.logo {
  margin: .7rem;
  height: 50px;
  width: 50px;
  float: left;
}

.profil {
  margin: .7rem;
  height: 50px;
  width: 50px;
  float: right;
}



