.header {
  z-index:-1;
}

.logo {
    margin: .3rem;
    height: 50px;
    width: 50px;
    float: left;
  }
  
  .profil {
    margin: .4rem 2rem;
    height: 50px;
    width: 50px;
    float: right;
  }
  .btn-header{
      border-radius: 3px;
      border: solid 1px black;
      color: black;
      padding: .5rem 1.4rem;
      margin:.5rem;
      box-shadow: 0 3px 5px 2px grey;
      float: right;
  }
