.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    line-height: 500px;
    background: #C2DCFF;
  }
  
  #pratiques {
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    color: #fff;
    background: #C2DCFF;
   
  
  }
  
  .pilates {
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    margin: 3rem;
    background-color: #EEC2FF;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: #fff;
    line-height: 500px;
    
    
  
  }